<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width initial-scale=1.0">
    <meta property="og:image" content="https://memoryboost.kr/thumbnail.jpg"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title th:text="검색"></title>
    <!-- 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Noto+Sans&family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <!--
    한글 폰트
    font-family: 'Nanum Gothic Coding', monospace;
    font-family: 'Noto Sans KR', sans-serif;
    영문 폰트
    font-family: 'Noto Sans', sans-serif;

    보통은(한/영 둘다) Noto Sans로 하고
    정보표시는 Nanum Gothic Coding.
    -->
    <!-- fontawesome CDN -->
    <script src="https://kit.fontawesome.com/88eb152a32.js" crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/search/search-style.css" />
    <!-- 스크립트 -->
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script src="/js/reset.js"></script>
    <script src="/js/search/search.js"></script>
</head>
<body>
<header th:replace="header.html"></header>
<div class="content-container search">
    <div id="spreader" >필터+</div>
    <form id="form1" action="/search-filter" method="GET">
        <div class="filter">
            <div id="category">
                <label for="cpu">CPU</label><input id="cpu" class="category-radio" type="radio" name="category" value="cpu" />
                <label for="motherboard">메인보드</label><input id="motherboard" class="category-radio" type="radio" name="category" value="motherboard" />
                <label for="vga">그래픽카드</label><input id="vga" class="category-radio" type="radio" name="category" value="vga" />
                <label for="memory">RAM</label><input id="memory" class="category-radio" type="radio" name="category" value="memory" />
                <label for="hdd">HDD</label><input id="hdd" class="category-radio" type="radio" name="category" value="hdd" />
                <label for="ssd">SSD</label><input id="ssd" class="category-radio" type="radio" name="category" value="ssd" />
                <label for="case">케이스</label><input id="case" class="category-radio" type="radio" name="category" value="case" />
                <label for="power">파워</label><input id="power" class="category-radio" type="radio" name="category" value="power" />
                <label for="keyboard">키보드</label><input id="keyboard" class="category-radio" type="radio" name="category" value="keyboard" />
                <label for="mouse">마우스</label><input id="mouse" class="category-radio" type="radio" name="category" value="mouse" />
                <label for="monitor">모니터</label><input id="monitor" class="category-radio" type="radio" name="category" value="monitor" />
            </div>
            <div class="criteria none" th:text="|카테고리를 선택해주세요.|"></div>
            <div th:fragment="filter-cpu" class="criteria cpu">
                <div class="criteria-title">
                    제조회사
                </div>
                <div class="criteria-elem">
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="cpu-a1" type="checkbox" name="select1" value="AMD" /><label for="cpu-a1">AMD</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="cpu-a2" type="checkbox" name="select1" value="INTEL" /><label for="cpu-a2">인텔</label></div>
                </div>
                <div class="criteria-title">
                    세대
                </div>
                <div class="criteria-elem">
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="cpu-b1" type="checkbox" name="select2" value="마티스" /><label for="cpu-b1">마티스</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="cpu-b2" type="checkbox" name="select2" value="피카소" /><label for="cpu-b2">피카소</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="cpu-b3" type="checkbox" name="select2" value="피나클 릿지" /><label for="cpu-b3">피나클릿지</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="cpu-b4" type="checkbox" name="select2" value="서밋 릿지" /><label for="cpu-b4">서밋릿지</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="cpu-b5" type="checkbox" name="select2" value="코멧레이크" /><label for="cpu-b5">코멧레이크</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="cpu-b6" type="checkbox" name="select2" value="코멧레이크S" /><label for="cpu-b6">코멧레이크S</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="cpu-b7" type="checkbox" name="select2" value="커피레이크-R" /><label for="cpu-b7">커피레이크-R</label></div>
                </div>
                <div class="criteria-title">
                    모델명
                </div>
                <div class="criteria-elem">
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="cpu-c1" type="checkbox" name="select3" value="라이젠3" /><label for="cpu-c1">라이젠3</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="cpu-c2" type="checkbox" name="select3" value="라이젠5" /><label for="cpu-c2">라이젠5</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="cpu-c3" type="checkbox" name="select3" value="라이젠7" /><label for="cpu-c3">라이젠7</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="cpu-c4" type="checkbox" name="select3" value="라이젠9" /><label for="cpu-c4">라이젠9</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="cpu-c5" type="checkbox" name="select3" value="I3" /><label for="cpu-c5">i3</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="cpu-c6" type="checkbox" name="select3" value="I5" /><label for="cpu-c6">i5</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="cpu-c7" type="checkbox" name="select3" value="I7" /><label for="cpu-c7">i7</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="cpu-c8" type="checkbox" name="select3" value="I9" /><label for="cpu-c8">i9</label></div>
                </div>
            </div>
            <div th:fragment="filter-motherboard" class="criteria motherboard">
                <div class="criteria-title">
                    제조회사
                </div>
                <div class="criteria-elem">
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="motherboard-a1" type="checkbox" name="select1" value="ASUS" /><label for="motherboard-a1">ASUS</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="motherboard-a2" type="checkbox" name="select1" value="MSI" /><label for="motherboard-a2">MSI</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="motherboard-a3" type="checkbox" name="select1" value="GIGABYTE" /><label for="motherboard-a3">GIGABYTE</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="motherboard-a4" type="checkbox" name="select1" value="ASROCK" /><label for="motherboard-a4">ASRock</label></div>
                </div>
                <div class="criteria-title">
                    소켓
                </div>
                <div class="criteria-elem">
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="motherboard-b1" type="checkbox" name="select2" value="AM4" /><label for="motherboard-b1">AM4</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="motherboard-b2" type="checkbox" name="select2" value="1200" /><label for="motherboard-b2">1200</label></div>
                </div>
                <div class="criteria-title">
                    칩셋
                </div>
                <div class="criteria-elem">
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="motherboard-c1" type="checkbox" name="select3" value="B450" /><label for="motherboard-c1">B450</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="motherboard-c2" type="checkbox" name="select3" value="B460" /><label for="motherboard-c2">B460</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="motherboard-c3" type="checkbox" name="select3" value="A320" /><label for="motherboard-c3">A320</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="motherboard-c4" type="checkbox" name="select3" value="B550" /><label for="motherboard-c4">B550</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="motherboard-c5" type="checkbox" name="select3" value="X570" /><label for="motherboard-c5">X570</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="motherboard-c6" type="checkbox" name="select3" value="Z490" /><label for="motherboard-c6">Z490</label></div>
                </div>
            </div>
            <div th:fragment="filter-vga" class="criteria vga">
                <div class="criteria-title">
                    제조회사
                </div>
                <div class="criteria-elem">
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="vga-a1" type="checkbox" name="select1" value="이엠텍" /><label for="vga-a1">이엠텍</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="vga-a2" type="checkbox" name="select1" value="GIGABYTE" /><label for="vga-a2">GIGABYTE</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="vga-a3" type="checkbox" name="select1" value="갤럭시" /><label for="vga-a3">GALAX</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="vga-a4" type="checkbox" name="select1" value="MSI" /><label for="vga-a4">MSI</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="vga-a5" type="checkbox" name="select1" value="ZOTAC" /><label for="vga-a5">ZOTAC</label></div>
                </div>
                <div class="criteria-title">
                    칩셋
                </div>
                <div class="criteria-elem">
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="vga-b1" type="checkbox" name="select2" value="2080Ti" /><label for="vga-b1">2080Ti</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="vga-b2" type="checkbox" name="select2" value="2080SUPER" /><label for="vga-b2">2080 SUPER</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="vga-b3" type="checkbox" name="select2" value="2080" /><label for="vga-b3">2080</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="vga-b4" type="checkbox" name="select2" value="2070SUPER" /><label for="vga-b4">2070 SUPER</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="vga-b5" type="checkbox" name="select2" value="2060SUPER" /><label for="vga-b5">2060 SUPER</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="vga-b6" type="checkbox" name="select2" value="1660Ti" /><label for="vga-b6">1660Ti</label></div>
                </div>
                <div class="criteria-title">
                    시리즈
                </div>
                <div class="criteria-elem">
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="vga-c1" type="checkbox" name="select3" value="RTX" /><label for="vga-c1">RTX</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="vga-c2" type="checkbox" name="select3" value="GTX" /><label for="vga-c2">GTX</label></div>
                </div>
            </div>
            <div th:fragment="filter-memory" class="criteria memory">
                <div class="criteria-title">
                    제조회사
                </div>
                <div class="criteria-elem">
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="memory-a1" type="checkbox" name="select1" value="삼성전자" /><label for="memory-a1">삼성전자</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="memory-a2" type="checkbox" name="select1" value="G.SKILL" /><label for="memory-a2">G.SKILL</label></div>
                </div>
                <div class="criteria-title">
                    용량
                </div>
                <div class="criteria-elem">
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="memory-b1" type="checkbox" name="select2" value="8G" /><label for="memory-b1">8G</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="memory-b2" type="checkbox" name="select2" value="16G" /><label for="memory-b2">16G</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="memory-b3" type="checkbox" name="select2" value="32G" /><label for="memory-b3">32G</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="memory-b4" type="checkbox" name="select2" value="64G" /><label for="memory-b4">64G</label></div>
                </div>
            </div>
            <div th:fragment="filter-hdd" class="criteria hdd">
                <div class="criteria-title">
                    제조회사
                </div>
                <div class="criteria-elem">
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="hdd-a1" type="checkbox" name="select1" value="WD" /><label for="hdd-a1">WD</label></div>
                </div>
                <div class="criteria-title">
                    용량
                </div>
                <div class="criteria-elem">
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="hdd-b1" type="checkbox" name="select2" value="2TB" /><label for="hdd-b1">2TB</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="hdd-b2" type="checkbox" name="select2" value="4TB" /><label for="hdd-b2">4TB</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="hdd-b3" type="checkbox" name="select2" value="6TB" /><label for="hdd-b3">6TB</label></div>
                </div>
            </div>
            <div th:fragment="filter-ssd" class="criteria ssd">
                <div class="criteria-title">
                    제조회사
                </div>
                <div class="criteria-elem">
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="ssd-a1" type="checkbox" name="select1" value="삼성전자" /><label for="ssd-a1">삼성전자</label></div>
                </div>
                <div class="criteria-title">
                    용량
                </div>
                <div class="criteria-elem">
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="ssd-b1" type="checkbox" name="select2" value="250GB" /><label for="ssd-b1">250GB</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="ssd-b2" type="checkbox" name="select2" value="500GB" /><label for="ssd-b2">500GB</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="ssd-b3" type="checkbox" name="select2" value="1TB" /><label for="ssd-b3">1TB</label></div>
                </div>
            </div>
            <div th:fragment="filter-case" class="criteria case">
                <div class="criteria-title">
                    제조회사
                </div>
                <div class="criteria-elem">
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="case-a1" type="checkbox" name="select1" value="ABKO" /><label for="case-a1">ABKO</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="case-a2" type="checkbox" name="select1" value="마이크로닉스" /><label for="case-a2">마이크로닉스</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="case-a3" type="checkbox" name="select1" value="아이구주" /><label for="case-a3">아이구주</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="case-a4" type="checkbox" name="select1" value="3RSYS" /><label for="case-a4">3RSYS</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="case-a5" type="checkbox" name="select1" value="JONSBO" /><label for="case-a5">JONSBO</label></div>
                </div>
                <div class="criteria-title">
                    규격
                </div>
                <div class="criteria-elem">
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="case-b1" type="checkbox" name="select2" value="미들타워" /><label for="case-b1">미들타워</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="case-b2" type="checkbox" name="select2" value="28540" /><label for="case-b2">28540</label></div>
                </div>
            </div>
            <div th:fragment="filter-power" class="criteria power">
                <div class="criteria-title">
                    제조회사
                </div>
                <div class="criteria-elem">
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="power-a1" type="checkbox" name="select1" value="FSP" /><label for="power-a1">FSP</label></div>
                </div>
                <div class="criteria-title">
                    정격출력
                </div>
                <div class="criteria-elem">
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="power-b1" type="checkbox" name="select2" value="500" /><label for="power-b1">500W</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="power-b2" type="checkbox" name="select2" value="600" /><label for="power-b2">600W</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="power-b3" type="checkbox" name="select2" value="700" /><label for="power-b3">700W</label></div>
                </div>
            </div>
            <div th:fragment="filter-keyboard" class="criteria keyboard">
                <div class="criteria-title">
                    제조회사
                </div>
                <div class="criteria-elem">
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="keyboard-a1" type="checkbox" name="select1" value="레오폴드" /><label for="keyboard-a1">레오폴드</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="keyboard-a2" type="checkbox" name="select1" value="커세어" /><label for="keyboard-a2">커세어</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="keyboard-a3" type="checkbox" name="select1" value="덱" /><label for="keyboard-a3">덱</label></div>
                </div>
                <div class="criteria-title">
                    연결방식
                </div>
                <div class="criteria-elem">
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="keyboard-b1" type="checkbox" name="select2" value="유선" /><label for="keyboard-b1">유선</label></div>
                </div>
                <div class="criteria-title">
                    접촉방식
                </div>
                <div class="criteria-elem">
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="keyboard-c1" type="checkbox" name="select3" value="기계식" /><label for="keyboard-c1">기계식</label></div>
                </div>
            </div>
            <div th:fragment="filter-mouse" class="criteria mouse">
                <div class="criteria-title">
                    제조회사
                </div>
                <div class="criteria-elem">
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="mouse-a1" type="checkbox" name="select1" value="로지텍" /><label for="mouse-a1">로지텍</label></div>
                </div>
                <div class="criteria-title">
                    연결방식
                </div>
                <div class="criteria-elem">
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="mouse-b1" type="checkbox" name="select2" value="유선" /><label for="mouse-b1">유선</label></div>
                </div>
            </div>
            <div th:fragment="filter-monitor" class="criteria monitor">
                <div class="criteria-title">
                    제조회사
                </div>
                <div class="criteria-elem">
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="monitor-a1" type="checkbox" name="select1" value="알파스캔" /><label for="monitor-a1">알파스캔</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="monitor-a2" type="checkbox" name="select1" value="래안텍" /><label for="monitor-a2">리안텍</label></div>
                </div>
                <div class="criteria-title">
                    패널종류
                </div>
                <div class="criteria-elem">
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="monitor-b1" type="checkbox" name="select2" value="IPS" /><label for="monitor-b1">IPS</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="monitor-b2" type="checkbox" name="select2" value="TN" /><label for="monitor-b2">TN</label></div>
                </div>
                <div class="criteria-title">
                    크기
                </div>
                <div class="criteria-elem">
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="monitor-c1" type="checkbox" name="select3" value="24" /><label for="monitor-c1">24"</label></div>
                    <div class="checkbox-elem"><input class="btn chkbox" th:id="monitor-c2" type="checkbox" name="select3" value="27" /><label for="monitor-c2">27"</label></div>
                </div>
            </div>
        </div>
        <div class="controller">
            <div th:classappend="|btn cartall|">장바구니</div>
            <div class="layout">
                <label for="layout-list" class="btn list fas fa-bars"></label><input th:checked="${layout == 'list'}" id="layout-list" class="btn layout" type="radio" name="layout" value="list"/>
                <label for="layout-grid" class="btn grid fas fa-th-large"></label><input th:checked="${layout == 'grid'}" id="layout-grid" class="btn layout" type="radio" name="layout" value="grid"/>
            </div>
            <div class="order">
                <select class="btn order1" name="order">
                    <option class="btn order" th:selected="${order == 'popular'}" value="popular">인기순</option>
                    <option class="btn order" th:selected="${order == 'pricedesc'}" value="pricedesc">높은가격순</option>
                    <option class="btn order" th:selected="${order == 'priceasc'}" value="priceasc">낮은가격순</option>
                </select>
            </div>
        </div>
        <div class="fragment-result" th:fragment="fragment-result">
            <!--<div class="result">
                <div class="product-list">
                    <div class="product liftup" th:each="product : ${product}">
                        <h1 th:text="${product.productName}"></h1>
                    </div>
                </div>
            </div>-->
            <div th:if="${#lists.size(product) == 0}" class="result noresult">
                <span class="keyword text normal bold" >'[[${keyword}]]'</span>에 대한 검색결과가 없습니다.
            </div>
            <div th:if="${#lists.size(product) > 0}"
                 class="result">
                <div th:classappend="${layout == 'grid'} ? grid"
                     class="product-list">
                    <div th:each="product : ${product}" th:classappend="|${product.productCategory} ${product.productNo}|" class="product">
                        <div class="image-div">
                            <img th:src="${product.productThumbnail}" class="product-image"
                                 th:onclick="|location.href='product-detail/${product.productNo}'|" />
                            <input th:data-num="${product.productNo}" th:classappend="cartchk" type="checkbox" />
                        </div>
                        <div class="product-info">
                            <div th:text="${product.productName}" class="product-name text bold" th:onclick="|location.href='product-detail/${product.productNo}'|"></div>
                            <div th:text="${product.productDescription}" class="product-detail text normal" th:onclick="|location.href='product-detail/${product.productNo}'|"></div>
                        </div>
                        <div class="product-purchase">
                            <div th:classappend="|char normal bold|" th:text="|${#numbers.formatInteger(product.productPrice, 3, 'COMMA')}|" class="product-price"></div>
                            <div th:if="${product.reviewGradeAvg != null}"
                                 class="review">
                                <div class="grade" th:onclick="|location.href='product-detail/${product.productNo}'|">
                                    <div th:if="${product.reviewGradeAvg != null}"
                                         th:style="|width: ${product.reviewGradeAvg*20}px;|"
                                         class="stars"></div>
                                </div>
                                <div class="score"
                                     th:if="${product.reviewGradeAvg != null}"
                                     th:text="${#numbers.formatDecimal(product.reviewGradeAvg,1,1)}"></div>
                                <div th:text="|(${product.reviewCount})|" class="count"></div>
                            </div>
                            <div th:unless="${product.reviewGradeAvg != null}"
                                 class="review none">
                                <span>평가 없음</span>
                            </div>
                            <div class="interaction">
                                <button th:data-num="${product.productNo}" class="btn addcart">장바구니</button>
                                <button th:data-num="${product.productNo}" class="btn purchase">바로구매</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="keyword" th:value="${keyword}" />
            <input type="hidden" name="tempPage" th:value="${paging.page}" disabled />
            <div th:if="${#lists.size(product) > 0}" class="paging">

                    <button th:disabled="${paging.prev == false}"
                            th:value="${paging.startPage-10}" class="btn page fas fa-chevron-left"></button>
                    <button th:each="num : ${#numbers.sequence(paging.startPage, paging.startPage+9)}"
                            th:disabled="${num > paging.endPage}"
                            th:text="${num}"
                            th:value="${num}"
                            th:style="${num == paging.page} ? |color: var(--danger);|"
                            class="btn page" name="page" ></button>
                    <button th:disabled="${paging.next == false}"
                            th:value="${paging.startPage+10}" class="btn page fas fa-chevron-right"></button>
            </div>
        </div>
    </form>
    <form th:id="order-single" action="/order/single-product" method="GET">
        <input th:type="hidden" th:name="productCnt" value="1" />
    </form>
</div>
<footer th:replace="footer.html"></footer>
</body>
<script>
    $(document).ready(function() {
        //장바구니 모두 추가
        $(document).on("click", ".btn.cartall", function(e) {
            var memberState = "[[${#authentication.principal}]]";

            if(memberState == "anonymousUser") {
                var signinFlag = confirm("로그인이 필요한 서비스입니다. 로그인 하시겠습니까?");

                if(signinFlag) {
                    location.href = "/members/signin";
                } else {
                    return false;
                }
            } else {
                let chkbox = $(".cartchk");
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");

                var params = new Array();

                for(let a of chkbox) {
                    if(a.checked) {
                        let obj = {
                            productNo : Number(a.dataset.num),
                            productCnt : 1
                        };

                        params.push(obj);
                    }
                }

                $.ajax({
                    type : "POST",
                    url : "/cart",
                    data : JSON.stringify(params),
                    processData : false,
                    contentType: "application/json",
                    async : true,
                    cache : false,
                    beforeSend : function(xhr) {
                        xhr.setRequestHeader(header, token);
                    }
                })
                .done(function(response) {
                    if(response.result == true) {
                        let toCartPage = confirm("장바구니에 추가했습니다. 장바구니로 이동하시겠습니까?");
                        if(toCartPage) {
                            location.href = "/cart";
                        }
                    } else {
                        alert("장바구니 추가에 실패했습니다. 다시 시도해주세요.");
                    }
                })
                .fail(function(response) {
                    console.dir("통신 실패");
                })
            }
        });

        //장바구니
        $(document).on("click", ".btn.addcart", function(e) {
            e.preventDefault();
            var memberState = "[[${#authentication.principal}]]";
            if(memberState == "anonymousUser") {
                var signinFlag = confirm("로그인이 필요한 서비스입니다. 로그인 하시겠습니까?");

                if(signinFlag) {
                    location.href = "/members/signin";
                } else {
                    return false;
                }
            } else {
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");
                let productNum = Number(e.target.dataset.num);
                let productAmount = 1;

                var params = new Array();

                let obj = {
                    productNo : productNum,
                    productCnt : productAmount
                };

                params.push(obj);

                $.ajax({
                    type : "POST",
                    url : "/cart",
                    data : JSON.stringify(params),
                    processData : false,
                    contentType: "application/json",
                    async : true,
                    cache : false,
                    beforeSend : function(xhr) {
                        xhr.setRequestHeader(header, token);
                    }
                })
                .done(function(response) {
                    if(response.result == true) {
                        let toCartPage = confirm("장바구니에 추가했습니다. 장바구니로 이동하시겠습니까?");
                        if(toCartPage) {
                            location.href = "/cart";
                        } else {
                            location.reload();
                        }
                    } else {
                        alert("장바구니 추가에 실패했습니다. 다시 시도해주세요.");
                    }
                })
                .fail(function(response) {
                    console.dir("통신 실패");
                })
            }
        });

        //구매
        $(document).on("click", ".btn.purchase", function(e) {
            e.preventDefault();
            tag = "<input type='hidden' name='productNo' value='"+e.target.dataset.num+"' />";
            $("#order-single").append(tag);
            $("#order-single").submit();
        });
    });
</script>
</html>