<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title th:text="회원탈퇴"></title>
    <!-- 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Noto+Sans&family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <!--
    한글 폰트
    font-family: 'Nanum Gothic Coding', monospace;
    font-family: 'Noto Sans KR', sans-serif;
    영문 폰트
    font-family: 'Noto Sans', sans-serif;

    보통은(한/영 둘다) Noto Sans로 하고
    정보표시는 Nanum Gothic Coding.
    -->
    <!-- fontawesome CDN -->
    <script src="https://kit.fontawesome.com/88eb152a32.js" crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/mypage/base-style.css" />
    <link rel="stylesheet" href="/css/mypage/leave-style.css" />
    <!-- 스크립트 -->
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/reset.js"></script>
</head>
<body>
<header th:replace="header.html"></header>
<div class="content-container leave">
    <nav th:classappend="mypage">
        <div>
            <h3 th:text="|주문/배송|"></h3>
            <a th:href="@{/cart}" th:classappend="cartlist" th:text="|장바구니|"></a>
            <a th:href="@{/mypage-orderList}" th:classappend="orderlist" th:text="|주문목록|"></a>
        </div>
        <div>
            <h3 th:text="|계정|"></h3>
            <a th:href="@{/members/mypage}" th:classappend="myinfo" th:text="|내정보|"></a>
            <a th:href="@{/member/leave}" th:classappend="leave" th:text="|회원탈퇴|"></a>
        </div>
        <div>
            <h3 th:text="|기타|"></h3>
            <a th:href="@{/mypage/inquiry}" th:classappend="inquiry" th:text="|1:1문의|"></a>
        </div>
    </nav>
    <div th:classappend="frame">
        <form th:id="leave-form" method="POST"><!-- DELETE로 바꿀 예정 -->
            <h1 th:classappend="|leave-text char danger|" th:text="|회원탈퇴를 하려면 비밀번호를 한번 더 입력해주세요|"></h1>
            <input th:type="password" th:name="pw" th:placeholder="|비밀번호를 입력해주세요|" />
            <button th:classappend="leave" th:type="submit" th:text="회원탈퇴"></button>
        </form>
    </div>
</div>
<footer th:replace="footer.html"></footer>
</body>
<script th:inline="javascript">
    $(document).ready(function() {
        $(document).on("click", "button.leave", function(e) {
            e.preventDefault();
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            //내정보. 처음비번확인
            let editAuth = $("input[type=password]")[0];
            let memberId = [[${#authentication.principal.memberId}]];
            if(!isEmpty(editAuth.value)) {
                $.ajax({
                    method : "POST",
                    url : "/members/mypage/pw-check/"+memberId,
                    data : { memberPw : editAuth.value },
                    dataType : "json",
                    beforeSend : function(xhr) {
                        xhr.setRequestHeader(header,token);
                    }
                })
                .done(function(response) {
                    if(response.result) {
                        proceedLeave();
                    } else {
                        alert("비밀번호를 확인해주세요");
                    }
                })
                .fail(function(response) {
                    console.dir("통신 실패");
                });
            }
        });
    });
</script>
<script th:src="@{/js/mypage/leave.js}"></script>
</html>