<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Title</title>
    <!-- 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Noto+Sans&family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <!--
    한글 폰트
    font-family: 'Nanum Gothic Coding', monospace;
    font-family: 'Noto Sans KR', sans-serif;
    영문 폰트
    font-family: 'Noto Sans', sans-serif;

    보통은(한/영 둘다) Noto Sans로 하고
    정보표시는 Nanum Gothic Coding.
    -->
    <!-- fontawesome CDN -->
    <script src="https://kit.fontawesome.com/88eb152a32.js" crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/mypage/base-style.css" />
    <link rel="stylesheet" href="/css/mypage/myinfo-style.css" />
    <!-- 스크립트 -->
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/reset.js"></script>
    <script src="/js/mypage/myinfo.js"></script>
    <script src="/js/member/member.js"></script>
</head>
<body>
<header th:replace="header.html"></header>
<div class="content-container myinfo">
    <nav th:classappend="mypage">
        <div>
            <h3 th:text="|주문/배송|"></h3>
            <a th:href="@{/cart}" th:classappend="cartlist" th:text="|장바구니|"></a>
            <a th:href="@{/mypage-orderList}" th:classappend="orderlist" th:text="|주문목록|"></a>
        </div>
        <div>
            <h3 th:text="|계정|"></h3>
            <a th:href="@{/members/mypage}" th:classappend="myinfo" th:text="|내정보|"></a>
        </div>
        <div>
            <h3 th:text="|기타|"></h3>
            <a th:href="@{/mypage/inquiry}" th:classappend="inquiry" th:text="|1:1문의|"></a>
        </div>
    </nav>
    <div th:classappend="|frame align-mid vertical|">
        <h1 th:text="|내정보 수정|"></h1>
        <div th:if="${#authentication.principal.memberSns.toString().equals('memoryboost')}" class="auth">
            <input type="password" placeholder="비밀번호를 한번 더 입력해주세요"/>
            <button class="btn auth">확인</button>
        </div>
        <div th:classappend="${#authentication.principal.memberSns.toString()} != 'memoryboost' ? pop" class="info">
            <form id="edit-info" class="edit-info" action="#" method="PUT">
                <input th:if="${#authentication.principal.memberSns.toString().equals('memoryboost')}" th:value="${#authentication.principal.memberLoginId}" class="memberLoginId" type="text" placeholder="아이디" disabled />
                <input th:if="${#authentication.principal.memberSns.toString().equals('memoryboost')}" th:value="${#authentication.principal.memberEmail}" class="memberEmail" type="text" placeholder="이메일" disabled/>
                <input th:if="${#authentication.principal.memberSns.toString().equals('memoryboost')}" class="memberPw" name="memberPw" type="password" placeholder="비밀번호" />
                <input th:if="${#authentication.principal.memberSns.toString().equals('memoryboost')}" class="memberPwConfirm" type="password" placeholder="비밀번호 확인" />
                <span th:if="${#authentication.principal.memberSns.toString().equals('memoryboost')}" class="alert-small">비밀번호는 영문 + 숫자  6글자 이상 (특수문자 불가능)</span>
                <div class="div-name">
                    <input th:value="${#authentication.principal.memberName}" class="memberName" type="text" name="memberName" placeholder="이름" />
                    <span class="chksum name true"></span>
                </div>
                <input th:value="${#authentication.principal.memberTel}" class="memberTel" type="text" name="memberTel" placeholder="전화번호" />
                <div class="addr">
                    <input th:value="${#authentication.principal.memberZipCode}" type="text" id="zipcode" class="memberZipcode" name="memberZipCode" placeholder="우편번호" readonly>
                    <input type="button" class="searchZipCode" onclick="searchZipCode()" value="우편번호 찾기"><br>
                    <input th:value="${#authentication.principal.memberAddress}" type="text" id="address" class="memberAddress add" name="memberAddress" placeholder="주소" readonly><br>
                </div>
                <div class="div-detailaddr">
                    <input th:value="${#authentication.principal.memberDetailAddress}" type="text" id="detailAddress" class="memberDetailAddress add" name="memberDetailAddress" placeholder="상세주소">
                    <span class="chksum detailaddr true"></span>
                </div>
                <div class="btns">
                    <button class="btn edit">수정</button>
                    <button class="btn delete">회원탈퇴</button>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="footer.html"></footer>
<script th:inline="javascript">
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");

    //내정보. 처음비번확인
    $(document).on("click", ".btn.auth", function(){
        let editAuth = $("div.auth > input[type=password]")[0];
        let memberId = [[${#authentication.principal.memberId}]]+"";

        console.dir(editAuth.value);
        if(!isEmpty(editAuth.value)) {
            $.ajax({
                method : "POST",
                url : "/members/mypage/pw-check/"+memberId,
                data : { memberPw : editAuth.value },
                dataType : "json",
                beforeSend : function(xhr) {
                    xhr.setRequestHeader(header,token);
                }
            })
            .done(function(response) {
                if(response.result) {
                    $("div.auth").remove();
                    $("div.info").addClass("pop");
                } else {
                    alert("비밀번호를 확인해주세요");
                }
            })
            .fail(function(response) {
                console.dir("통신 실패");
            });
        }
    });
    //input 변화 감지
    $(document).on("keyup", ".memberName, .memberDetailAddress", function(e) {
        if(isEmpty($(".memberName")[0].value)) {
            $(".chksum.name").removeClass("true").addClass("false");
            $(".btn.edit")[0].disabled = true;
        } else {
            $(".chksum.name").removeClass("false").addClass("true");
        }
        if(isEmpty($(".memberDetailAddress")[0].value)) {
            $(".chksum.detailaddr").removeClass("true").addClass("false");
            $(".btn.edit")[0].disabled = true;
        } else {
            $(".chksum.detailaddr").removeClass("false").addClass("true");
        }
        if(!isEmpty($(".memberName")[0].value) && !isEmpty($(".memberDetailAddress")[0].value)) {
            $(".btn.edit")[0].disabled = false;
        }
    });
    //내정보. 수정 눌렀을때 검증(작업중)
    $(document).on("click", ".btn.edit", function(e) {
        e.preventDefault();
        let memberSns = [[${#authentication.principal.memberSns}]];
        let requestURL = null;
        if(memberSns === "memoryboost") { //자체유저
            requestURL = "/members";
            let password = $(".memberPw")[0];
            let passwordConfirm = $(".memberPwConfirm")[0];

            if(isEmpty(password.value) && isEmpty(passwordConfirm.value)) {
                console.dir("비번 안바꿈");
            } else {
                console.dir("비번 바꿈");
                if(!validatePassword(password, passwordConfirm)) {
                    alert("비밀번호를 확인해주세요");
                    return;
                }
            }
        } else { //sns유저
            requestURL = "/members/sns";
        }

        let form = $("form#edit-info")[0];
        let params = new FormData(form);

        $.ajax({
            type : "PUT",
            url : requestURL,
            data : params,
            processData: false,
            contentType: false,
            beforeSend : function(xhr) {
                xhr.setRequestHeader(header,token);
            }
        })
        .done(function(response) {
            if(response) {
                alert("정보수정을 완료했습니다!");
                location.replace("/members/mypage");
            }
        })
        .fail(function(response) {
            console.dir("통신 실패");
        })
    });
</script>
</body>
</html>