<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width initial-scale=1.0">
    <title>Title</title>
    <!-- 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Noto+Sans&family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <!--
    한글 폰트
    font-family: 'Nanum Gothic Coding', monospace;
    font-family: 'Noto Sans KR', sans-serif;
    영문 폰트
    font-family: 'Noto Sans', sans-serif;

    보통은(한/영 둘다) Noto Sans로 하고
    정보표시는 Nanum Gothic Coding.
    -->
    <!-- fontawesome CDN -->
    <script src="https://kit.fontawesome.com/88eb152a32.js" crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/mypage/base-style.css" />
    <link rel="stylesheet" href="/css/mypage/orderlist-style.css" />
    <!-- 스크립트 -->
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script src="/js/reset.js"></script>
    <script src="/js/mypage/orderlist.js"></script>
</head>
<body>
<header th:replace="header.html"></header>
<div class="content-container orderlist">
    <nav th:classappend="mypage">
        <div>
            <h3 th:text="|주문/배송|"></h3>
            <a th:href="@{/cart}" th:classappend="cartlist" th:text="|장바구니|"></a>
            <a th:href="@{/mypage-orderList}" th:classappend="orderlist" th:text="|주문목록|"></a>
        </div>
        <div>
            <h3 th:text="|계정|"></h3>
            <a th:href="@{/members/mypage}" th:classappend="myinfo" th:text="|내정보|"></a>
        </div>
        <div>
            <h3 th:text="|기타|"></h3>
            <a th:href="@{/mypage/inquiry}" th:classappend="inquiry" th:text="|1:1문의|"></a>
        </div>
    </nav>
    <div th:classappend="|frame align-left vertical|">
        <h1 th:text="주문정보"></h1>
        <table>
            <tr>
                <th>주문번호</th>
                <th>주문정보</th>
                <th>날짜</th>
                <th>트래킹넘버</th>
                <th>상태</th>
                <th>금액</th>
            </tr>
            <form action="/order/detail" method="GET">
                <tr th:classappend="order" th:each="order : ${order}">
                    <td th:classappend="order-number">
                        <button th:name="orderNo" th:value="${order.orderNo}" th:text="${order.orderNo}"></button>
                    </td>
                    <td th:classappend="|order-info|">
                        <button th:if="${#lists.size(order.productNameList) == 1}" th:name="orderNo" th:value="${order.orderNo}" th:text="${order.productNameList[0]}"></button>
                        <button th:if="${#lists.size(order.productNameList) > 1}" th:name="orderNo" th:value="${order.orderNo}" th:text="|${order.productNameList[0]} 외 ${#lists.size(order.productNameList)-1}개|"></button>
                    </td>
                    <td th:text="${order.orderDate}"></td>
                    <td th:text="${order.orderTrackingNumber}"></td>
                    <td th:with="status = ${order.orderSt}">
                        <th:block th:if="${status == 1}" th:text="|입금 대기중|"></th:block>
                        <th:block th:if="${status == 2}" th:text="|결제완료|"></th:block>
                        <th:block th:if="${status == 3}" th:text="|배송준비중|"></th:block>
                        <th:block th:if="${status == 4}" th:text="|배송중|"></th:block>
                        <th:block th:if="${status == 5}" th:text="|배송완료|"></th:block>
                        <th:block th:if="${status == 6}" th:text="|환불처리|"></th:block>
                    </td>
                    <td th:text="${order.orderAmountTotal}"></td>
                </tr>
            </form>
        </table>
    </div>
</div>
<footer th:replace="footer.html"></footer>
</body>
</html>