div.content-container.search {
    display: flex;
    flex-direction: column;
}
/* 필터 */
div.content-container.search > form > div.filter {
    display: flex;
    width: 100%; height: 300px;
    background-color: #FAFAFA;
}

/* 카테고리 */
div.content-container.search > form > div.filter > div#category {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

div.content-container.search > form > div.filter > div#category > label {
    cursor: pointer;
}

div.content-container.search > form > div.filter > div#category > label:hover {
    opacity: 0.5;
}

div.content-container.search > form > div.filter > div#category > input.category-radio {
    /*display: none;*/
}

/* 스펙 */
div.content-container.search > form > div.filter > div#criteria {
    flex-basis: 80%;
    overflow-y: scroll;
}

div.content-container.search > form > div.filter > div#criteria > div.criteria-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
    font-size: 17px;
    color: var(--light-blue);
}

div.content-container.search > form > div.filter > div#criteria > div.criteria-elem {
    display: flex;
    flex-wrap: wrap;
}

div.content-container.search > form > div.filter > div#criteria > div.criteria-elem > div.checkbox-elem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; padding: 5px;
}

div.content-container.search > form > div.filter > div#criteria > div.criteria-elem > div.checkbox-elem > input[type=checkbox] {
    margin: 3px;
}

div.content-container.search > form > div.filter > div#criteria > div.criteria-elem > div.checkbox-elem > label {
    cursor: pointer;
    font-size: 14px;
}

/* 컨트롤러(정렬, 장바구니 담기) */
div.content-container.search > form > div.controller {
    height: 30px;
    margin: 5px 0;
}

div.content-container.search > form > div.controller > button.btn.cartall {
    float: left;
    width: 80px; height: 30px;
}

div.content-container.search > form > div.controller > div.order {
    float: right;
    height: 30px;
    margin: 0 5px;
}

div.content-container.search > form > div.controller > div.order > select{
    height: 30px;
    outline: none;
}

div.content-container.search > form > div.controller > div.layout {
    float: right;
}

div.content-container.search > form > div.controller > div.layout > input[type=radio] {
    /*display: none;*/
}

div.content-container.search > form > div.controller > div.layout > label.btn {
    cursor: pointer;
    font-size: 30px;
    margin: 0 2px;
}

div.content-container.search > form > div.controller > div.layout > label.btn:hover {
    opacity: 0.5;
}
/* 검색 결과 */
div.content-container.search > form > div.fragment-result > div.result {
    display: flex;
    flex-direction: column;
}

div.content-container.search > form > div.fragment-result > div.result.noresult {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500px;
}

/*-------------------- 제품 목록(리스트 레이아웃) --------------------*/
div.content-container.search > form > div.fragment-result > div.result > div.product-list {
    display: flex;
    flex-direction: column;
}

div.content-container.search > form > div.fragment-result > div.result > div.product-list > div.product {
    display: flex;
    height: 200px;
    margin: 5px 0;
    box-shadow: 0 0 5px -3px rgba(0, 0, 0, 1.0);
}

/****************************** 이미지 ******************************/
div.content-container.search > form > div.fragment-result > div.result > div.product-list > div.product > div.image-div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

div.content-container.search > form > div.fragment-result > div.result > div.product-list > div.product > div.image-div > img.product-image {
    cursor: pointer;
    width: 150px; height: 150px;
}

div.content-container.search > form > div.fragment-result > div.result > div.product-list > div.product > div.image-div > img.product-image:hover {
    opacity: 0.5;
}

div.content-container.search > form > div.fragment-result > div.result > div.product-list > div.product > div.image-div > input[type=checkbox] {
    cursor: pointer;
    position: absolute;
    top: 5%; left: 5%;
    width: 15px; height: 15px;
    border-radius: 0px;
    border: 2px solid rgba(255, 0, 0, 1.0);
}

div.content-container.search > form > div.fragment-result > div.result > div.product-list > div.product > div.image-div > input[type=checkbox]:hover {
    opacity: 0.5;
}

/****************************** 제품정보 ******************************/
div.content-container.search > form > div.fragment-result > div.result > div.product-list > div.product > div.product-info {
    display: flex;
    flex-direction: column;
    width: 900px;
}

/* 제품명 */
div.content-container.search > form > div.fragment-result > div.result > div.product-list > div.product > div.product-info > div.product-name {
    cursor: pointer;
    flex-basis: 30%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

div.content-container.search > form > div.fragment-result > div.result > div.product-list > div.product > div.product-info > div.product-name:hover {
    opacity: 0.5;
}

/* 제품상세 */
div.content-container.search > form > div.fragment-result > div.result > div.product-list > div.product > div.product-info > div.product-detail {
    cursor: pointer;
    flex-basis: 70%;
    padding: 0 20px;
}

div.content-container.search > form > div.fragment-result > div.result > div.product-list > div.product > div.product-info > div.product-detail:hover {
    opacity: 0.5;
    text-decoration: underline;
}

/****************************** 구매정보 ******************************/
div.content-container.search > form > div.fragment-result > div.result > div.product-list > div.product > div.product-purchase {
    display: flex;
    flex-direction: column;
    width: 196px;
}

/* 가격 */
div.content-container.search > form > div.fragment-result > div.result > div.product-list > div.product > div.product-purchase > div.product-price {
    flex-basis: 35%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 20px;
}

div.content-container.search > form > div.fragment-result > div.result > div.product-list > div.product > div.product-purchase > div.product-price::after {
    content: "원";
    font-size: 12px;
    margin-left: 2px;
}

/* 리뷰 */
div.content-container.search > form > div.fragment-result > div.result > div.product-list > div.product > div.product-purchase > div.review {
    flex-basis: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

div.content-container.search > form > div.fragment-result > div.result > div.product-list > div.product > div.product-purchase > div.review.none {
    justify-content: center;
    color: var(--dim-gray);
}

div.content-container.search > form > div.fragment-result > div.result > div.product-list > div.product > div.product-purchase > div.review > div.grade {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100px; height: 20px;
    margin-left: 10px;
    background-image: url("/img/grade.png");
    background-repeat: no-repeat;
    overflow: hidden
}

div.content-container.search > form > div.fragment-result > div.result > div.product-list > div.product > div.product-purchase > div.review > div.grade > div.stars {
    background-image: url("/img/grade_star.png");
    background-size: 100px; 20px;
    background-repeat: no-repeat;
    height: 20px;
    overflow: hidden;
}

div.content-container.search > form > div.fragment-result > div.result > div.product-list > div.product > div.product-purchase > div.review > div.score {
    margin-left: 10px;
    font-weight: bold;
}

div.content-container.search > form > div.fragment-result > div.result > div.product-list > div.product > div.product-purchase > div.review > div.count {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50px; height: 25px;
    color: var(--gray);
    font-size: 15px;
}

/* 구매버튼 */
div.content-container.search > form > div.fragment-result > div.result > div.product-list > div.product > div.product-purchase > div.interaction {
    flex-basis: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.content-container.search > form > div.fragment-result > div.result > div.product-list > div.product > div.product-purchase > div.interaction > button.btn {
    width: 80px; height: 40px;
    margin: 0 1px;
}

/* 제품 목록(그리드 레이아웃) */
div.content-container.search > form > div.fragment-result > div.result > div.product-list.grid {
    flex-direction: row;
    flex-wrap : wrap;
}

div.content-container.search > form > div.fragment-result > div.result > div.product-list.grid > div.product {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

div.content-container.search > form > div.fragment-result > div.result > div.product-list.grid > div.product > div.image-div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
}

div.content-container.search > form > div.fragment-result > div.result > div.product-list.grid > div.product > div.image-div > img.product-image {
    width: 200px; height: 200px;
}

div.content-container.search > form > div.fragment-result > div.result > div.product-list.grid > div.product > div.image-div > input[type=checkbox] {
    top: 5%; left: 5%;
    width: 15px; height: 15px;
}

div.content-container.search > form > div.fragment-result > div.result > div.product-list.grid > div.product > div.product-info {
    display: flex;
    flex-direction: column;
    width: inherit;
}

div.content-container.search > form > div.fragment-result > div.result > div.product-list.grid > div.product > div.product-info > div.product-name {
    flex-basis: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

div.content-container.search > form > div.fragment-result > div.result > div.product-list.grid > div.product > div.product-info > div.product-detail {
    display: none;
}

div.content-container.search > form > div.fragment-result > div.result > div.product-list.grid > div.product > div.product-purchase {
    display: flex;
    flex-direction: column;
    width: inherit;
}

div.content-container.search > form > div.fragment-result > div.result > div.product-list.grid > div.product > div.product-purchase > div.product-price {
    flex-basis: 35%;
    padding: 0;
}

div.content-container.search > form > div.fragment-result > div.result > div.product-list.grid > div.product > div.product-purchase > div.review {
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.content-container.search > form > div.fragment-result > div.result > div.product-list.grid > div.product > div.product-purchase > div.interaction {
    flex-basis: 55%;
    padding: 10px 0;
}

/* 페이징 */
div.content-container.search > form > div.fragment-result > div.paging {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

div.content-container.search > form > div.fragment-result > div.paging > button.btn {
    outline: none;
    background: none;
    border: 0;
    font-size: 20px;
    width: 40px; height: 40px;
}
