<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width initial-scale=1.0">
    <title>Title</title>
    <!-- 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Noto+Sans&family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <!--
    한글 폰트
    font-family: 'Nanum Gothic Coding', monospace;
    font-family: 'Noto Sans KR', sans-serif;
    영문 폰트
    font-family: 'Noto Sans', sans-serif;

    보통은(한/영 둘다) Noto Sans로 하고
    정보표시는 Nanum Gothic Coding.
    -->
    <!-- fontawesome CDN -->
    <script src="https://kit.fontawesome.com/88eb152a32.js" crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/board/community-style.css" />
    <link rel="stylesheet" href="/css/board/estimate-com.css" />
    <!-- 스크립트 -->
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script src="/js/reset.js"></script>
    <script src="/js/shave.js"></script>
    <script src="/js/board/community.js"></script>
    <script src="/js/board/estimate-com.js"></script>
</head>
<body>
<header th:replace="header.html"></header>
<div class="content-container community">
    <!-- 이곳에 내용을 입력 -->
    <nav th:classappend="community">
        <button th:classappend="estimate" th:onclick="|location.href = '@{/community/estimate}';|" th:text="견적요청" />
        <button th:classappend="review" th:onclick="|location.href = '@{/community/review}';|" th:text="이용후기" />
        <button th:classappend="|notification selected|" th:onclick="|location.href = '@{/community/notification}';|" th:text="공지사항" />
        <button th:classappend="update" th:onclick="|location.href = '@{/community/update}';|" th:text="업데이트" />
        <button th:classappend="event" th:onclick="|location.href = '@{/community/event}';|" th:text="이벤트" />
    </nav>
    <div th:classappend="content">
        <div th:classappend="description">
            <h1>공지사항</h1>
            <span th:text="|중요한 공지 및 점검사항을 확인하세요.|"></span>
        </div>

        <table>
            <tr>
                <th th:text="|No.|"></th>
                <th th:text="제목"></th>
                <th th:text="글쓴이"></th>
                <th th:text="작성날짜"></th>
                <th th:text="조회수"></th>
            </tr>
            <tr th:each="num : ${#numbers.sequence(0, 1, 1)}">
                <td th:text="|공지|"></td>
                <td th:classappend="|title|" th:text="|[공지사항]공지사항입니다. 잘 따르세요. 안따르면 추방.|"></td>
                <td th:text="운영자"></td>
                <td th:text="|1970-01-01|"></td>
                <td th:text="|999|"></td>
            </tr>
            <tr>
                <td th:text="0"></td>
                <td th:classappend="|title|" th:text="|[조립후기]이번에 원기옥 모아서 맞춘 컴입니다. 피드백점 주세요.@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@|"></td>
                <td th:text="테스트유저"></td>
                <td th:text="|2020-07-28|"></td>
                <td th:text="|1|"></td>
            </tr>
            <tr th:each="num : ${#numbers.sequence(15, 1, -1)}">
                <td th:classappend="|num|" th:text="${num}"></td>
                <td th:classappend="|title|" th:onclick="|location.href = '';|" th:text="|[조립후기]이번에 원기옥 모아서 맞춘 컴입니다. 피드백점 주세요.|"></td>
                <td th:classappend="|writer|" th:text="테스트유저"></td>
                <td th:classappend="|date|"th:text="|2020-07-28|"></td>
                <td th:classappend="|view|"th:text="|1|"></td>
            </tr>
        </table>
        <div th:classappend="|control|">
            <!--sec:authorize="hasRole('ROLE_ADMIN')"-->
            <button th:classappend="|write-noti|" th:text="공지쓰기"></button>
        </div>
        <form>
            <div th:classappend="|search|">
                <select th:name="filter">
                    <option th:text="전체" />
                    <option th:text="제목" />
                    <option th:text="내용" />
                    <option th:text="|제목+내용|" />
                </select>
                <input th:type="text" th:name="keyword" th:placeholder="검색어" />
                <button th:text="검색"></button>
            </div>
            <div class="paging">
                <button th:disabled="true"
                        th:value="0" class="btn page"><i class="fas fa-chevron-left"></i></button>
                <button th:each="num : ${#numbers.sequence(1, 10)}"
                        th:disabled="${num > 1}"
                        th:text="${num}"
                        th:value="${num}"
                        th:style="${num == 1} ? |color: var(--danger);|"
                        class="btn page" name="page" ></button>
                <button th:disabled="true"
                        th:value="11" class="btn page"><i class="fas fa-chevron-right"></i></button>
            </div>
        </form>
    </div>
</div>
<footer th:replace="footer.html"></footer>
</body>
</html>