<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Title</title>
    <!-- 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Noto+Sans&family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <!--
    한글 폰트
    font-family: 'Nanum Gothic Coding', monospace;
    font-family: 'Noto Sans KR', sans-serif;
    영문 폰트
    font-family: 'Noto Sans', sans-serif;

    보통은(한/영 둘다) Noto Sans로 하고
    정보표시는 Nanum Gothic Coding.
    -->
    <!-- fontawesome CDN -->
    <script src="https://kit.fontawesome.com/88eb152a32.js" crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/board/community-style.css" />
    <!-- 스크립트 -->
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script src="/js/reset.js"></script>
    <script src="/js/shave.js"></script>
    <script src="/js/board/community.js"></script>
    <script src="/js/board/write-com.js"></script>
</head>
<body>
<header th:replace="header.html"></header>
<div class="content-container community">
    <!-- 이곳에 내용을 입력 -->
    <nav th:classappend="community">
        <button th:classappend="${post.postCategory == 1} ? |review selected| : |review|" th:onclick="|location.href = '@{/post?category=1}';|" th:text="이용후기" />
        <button th:classappend="${post.postCategory == 2} ? |estimate selected| : |estimate|" th:onclick="|location.href = '@{/post?category=2}';|" th:text="견적요청" />
        <button th:classappend="notification" th:onclick="|location.href = '@{/notice?category=1}';|" th:text="공지사항" />
        <button th:classappend="update" th:onclick="|location.href = '@{/community/update}';|" th:text="업데이트" />
        <button th:classappend="event" th:onclick="|location.href = '@{/community/event}';|" th:text="이벤트" />
    </nav>
    <div th:classappend="|content detail|">
        <input th:id="category" th:type="hidden" th:value="${post.postCategory}" />
        <div th:classappend="description">
            <th:block th:if="${post.postCategory == 1}">
                <h1 th:text="|이용후기|"></h1>
                <span th:text="|실제 구매자들의 이용 후기입니다.|"></span>
            </th:block>
            <th:block th:if="${post.postCategory == 2}">
                <h1 th:text="|견적요청|"></h1>
                <span th:text="|자신의 견적을 평가 받거나 새로운 견적을 문의 해보세요.|"></span>
            </th:block>
            <table>
                <tr>
                    <th th:classappend="detail-title" colspan="2" th:text="|제목 : ${post.postTitle}|"></th>
                </tr>
                <tr>
                    <td th:classappend="detail-writer" th:text="|작성자 : ${post.memberName}|"></td>
                    <td th:classappend="detail-date" th:text="|작성날짜 : ${post.postDate}|"></td>
                </tr>
                <tr>
                    <td th:classappend="detail-content" colspan="2" th:utext="${post.postContent}" th:style="|text-align: justify; text-justify: distribute; text-align-last: justify;|"></td>
                </tr>
            </table>
            <div sec:authorize="!isAnonymous()" th:if="|${post.memberId == #authentication.principal.memberId}|" th:classappend="|control|">
                <button th:value="${post.postNo}" th:classappend="|post-edit|" th:text="|수정|"></button>
                <button th:value="${post.postNo}" th:classappend="|post-delete|" th:text="|삭제|"></button>
            </div>
            <table>
                <tr th:classappend="|jump|">
                    <th th:classappend="detail-before" th:text="이전글"></th>
                    <td th:classappend="detail-before" th:text="|이전글이 없습니다.|"></td>
                </tr>
                <tr th:classappend="|jump|">
                    <th th:classappend="detail-next" th:text="다음글"></th>
                    <td th:classappend="detail-next" th:text="|공지12312...|"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<footer th:replace="footer.html"></footer>
</body>
</html>