<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width initial-scale=1.0">
    <meta property="og:image" content="https://memoryboost.kr/thumbnail.jpg"/>
    <title th:text="|이용후기|"></title>
    <!-- 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Noto+Sans&family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <!--
    한글 폰트
    font-family: 'Nanum Gothic Coding', monospace;
    font-family: 'Noto Sans KR', sans-serif;
    영문 폰트
    font-family: 'Noto Sans', sans-serif;

    보통은(한/영 둘다) Noto Sans로 하고
    정보표시는 Nanum Gothic Coding.
    -->
    <!-- fontawesome CDN -->
    <script src="https://kit.fontawesome.com/88eb152a32.js" crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/board/community-style.css" />
    <!-- 스크립트 -->
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script src="/js/reset.js"></script>
    <script src="/js/shave.js"></script>
    <script src="/js/board/community.js"></script>
</head>
<body>
<header th:replace="header.html"></header>
<div class="content-container community">
    <nav th:classappend="community">
        <button th:classappend="|review selected|" th:onclick="|location.href = '@{/post?category=1}';|" th:text="이용후기" />
        <button th:classappend="estimate" th:onclick="|location.href = '@{/post?category=2}';|" th:text="견적요청" />
        <button th:classappend="notification" th:onclick="|location.href = '@{/notice?category=1}';|"th:text="공지사항" />
        <button th:classappend="update" th:onclick="|location.href = '@{/notice?category=2}';|" th:text="업데이트" />
        <button th:classappend="event" th:onclick="|location.href = '@{/notice?category=3}';|" th:text="이벤트" />
    </nav>
    <div th:classappend="content">
        <div th:classappend="description">
            <h1>이용후기</h1>
            <span th:text="|실제 구매자들의 이용 후기입니다.|"></span>
        </div>
        <table>
            <tr>
                <th th:text="|No.|"></th>
                <th th:text="제목"></th>
                <th th:text="글쓴이"></th>
                <th th:text="작성날짜"></th>
                <th th:text="조회수"></th>
            </tr>
            <tr th:if="${#lists.size(post) > 0}" th:each="post : ${post}">
                <td th:classappend="|num|" th:text="${post.postNumber}"></td>
                <td th:classappend="|title|" th:onclick="|location.href = '/post/detail?postNo=${post.postNo}';|" th:text="${post.postTitle}"></td>
                <td th:classappend="|writer|" th:text="${post.memberName}"></td>
                <td th:classappend="|date|"th:text="${post.postDate}"></td>
                <td th:classappend="|view|"th:text="|0|"></td>
            </tr>
            <tr th:unless="${#lists.size(post) > 0}" th:each="post : ${post}">
                <td>
                    결과가 없습니다.
                </td>
            </tr>
        </table>
        <div th:classappend="|control|">
            <button th:classappend="write" th:onclick="|location.href='/write';|" th:text="글쓰기"></button>
        </div>
        <form action="/post" method="GET">
            <div th:if="${1 > 2}" th:classappend="|search|">
                <select th:name="filter">
                    <option th:text="전체" />
                    <option th:text="제목" />
                    <option th:text="내용" />
                    <option th:text="|제목+내용|" />
                </select>
                <input th:type="text" th:name="keyword" th:placeholder="검색어" />
                <button th:text="검색"></button>
            </div>
            <div class="paging">
                <input th:type="hidden" th:name="category" th:value="1" />
                <button th:disabled="${paging.prev == false}"
                        th:value="${paging.startPage-10}" th:classappend="|btn page fas fa-chevron-left|"></button>
                <button th:each="num : ${#numbers.sequence(paging.startPage, paging.startPage+9)}"
                        th:disabled="${num > paging.endPage && num != 1}"
                        th:text="${num}"
                        th:name="|page|"
                        th:value="${num}"
                        th:style="${num == paging.page} ? |color: var(--danger);|"
                        th:classappend="|btn page|"></button>
                <button th:disabled="${paging.next == false}"
                        th:value="${paging.startPage+10}" th:classappend="|btn page fas fa-chevron-right|"></button>
            </div>
        </form>
    </div>
</div>
<footer th:replace="footer.html"></footer>
</body>
</html>