<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title th:text="|이용후기/견적요청|"></title>
    <!-- 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Noto+Sans&family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <!--
    한글 폰트
    font-family: 'Nanum Gothic Coding', monospace;
    font-family: 'Noto Sans KR', sans-serif;
    영문 폰트
    font-family: 'Noto Sans', sans-serif;

    보통은(한/영 둘다) Noto Sans로 하고
    정보표시는 Nanum Gothic Coding.
    -->
    <!-- fontawesome CDN -->
    <script src="https://kit.fontawesome.com/88eb152a32.js" crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" href="/css/reset.css" />
    <link href="/css/summernote/summernote-lite.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/board/community-style.css" />
    <link rel="stylesheet" href="/css/board/write-com.css" />
    <!-- 스크립트 -->
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script src="/js/reset.js"></script>
    <script src="/js/summernote/summernote-lite.js"></script>
    <script src="/js/summernote/lang/summernote-ko-KR.js"></script>
    <script src="/js/board/write-summernote.js"></script>
    <script src="/js/board/write-com.js"></script>

</head>
<body>
<header th:replace="header.html"></header>
<div class="content-container community">
    <nav th:classappend="community">
        <button th:classappend="${post != null && post.postCategory == 1} ? |review selected| : |review|" th:onclick="|location.href = '@{/post?category=1}';|" th:text="이용후기" />
        <button th:classappend="${post != null && post.postCategory == 2} ? |estimate selected| : |estimate|" th:onclick="|location.href = '@{/post?category=2}';|" th:text="견적요청" />
        <button th:classappend="notification" th:onclick="|location.href = '@{/notice?category=1}';|" th:text="공지사항" />
        <button th:classappend="update" th:onclick="|location.href = '@{/community/update}';|" th:text="업데이트" />
        <button th:classappend="event" th:onclick="|location.href = '@{/community/event}';|" th:text="이벤트" />
    </nav>
    <div th:classappend="content">
        <div th:if="${post == null}" th:classappend="description">
            <h1 th:text="|이용후기/견적요청 작성|"></h1>
        </div>
        <div th:if="${post != null}" th:classappend="description">
            <h1 th:text="|이용후기/견적요청 수정|"></h1>
        </div>
        <form id="write-form"  action="/post" method="POST">
            <select th:disabled="${post != null}" th:classappend="category" th:name="postCategory">
                <option th:text="|이용후기|" th:value="1" />
                <option th:text="|견적요청|" th:value="2" />
            </select>
            <th:block th:if="${post == null}">
                <input th:classappend="title" th:type="text" th:name="postTitle" th:placeholder="|제목|" />
                <textarea th:id="summernote" th:name="postContent"></textarea>
                <div th:classappend="control">
                    <button th:text="작성완료"></button>
                    <button th:id="write-cancel" th:text="작성취소"></button>
                </div>
            </th:block>
            <th:block th:if="${post != null}">
                <input th:value="${post.postTitle}" th:classappend="title" th:type="text" th:name="postTitle" th:placeholder="|제목|" />
                <textarea th:id="summernote" th:name="postContent"></textarea>
                <div th:classappend="control">
                    <button th:value="${post.postNo}" th:id="edit-complete" th:text="수정완료"></button>
                    <button th:value="${post.postNo}" th:id="edit-cancel" th:text="수정취소"></button>
                </div>
                <script th:inline="javascript">
                    $(document).ready(function() {
                        $("#summernote").summernote("code", [[${post.postContent}]]);
                    });
                </script>
            </th:block>
            <input th:if="${post != null}" th:name="postNo" th:value="${post.postNo}" th:type="hidden" />
            <input th:type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        </form>
    </div>
</div>
<footer th:replace="footer.html"></footer>
</body>
</html>