<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MemoryBoost</title>
    <!-- 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Nanum+Gothic+Coding&family=Noto+Sans+KR&family=Roboto&display=swap" rel="stylesheet">
    <!--
    한글 폰트
    font-family: 'Nanum Gothic Coding', monospace;
    font-family: 'Noto Sans KR', sans-serif;
    영문 폰트
    font-family: 'Roboto', sans-serif;
    font-family: 'Lato', sans-serif;
    -->
    <!-- css -->
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/member/signin.css">
    <!-- 스크립트 -->
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script src="/js/reset.js"></script>
</head>
<body>
    <div class="main-container">
        <a href="/" style="width: 300px;"><img src="/img/logo_main.png" style="width: 100%;  height: 100%;"></a>
    </div>
    <div class="sub-container">
        <form action="/members/signin" method="POST">
            <div class="form-group">
                <input type="text" name="memberLoginId" placeholder="아이디" class="login-text">
            </div>
            <div class="form-group">
                <input type="password" name="memberPw" placeholder="비밀번호" class="login-text">
            </div>
            <div class="form-group">
                <input type="submit" value="로그인" class="login-btn">
            </div>

            <div class="form-menu">
                <label for="remeber-me" style="cursor:po">
                    <input type="checkbox" id="remeber-me"> 로그인 상태 유지
                </label>
            </div>
<!--            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
        </form>
    </div>
    <div class="third-container">
        <a href="#"><button class="btn signup">회원가입</button></a>
        <div class="sns-group" >
            <a th:href="@{/member/signin/google}">
                <button class="btn google"></button>
            </a>
        </div>
        <div class="sns-group">
            <a th:href="@{/member/signin/naver}">
                <button class="btn naver"></button>
            </a>
        </div>
        <div class="sns-group">
            <a th:href="@{/member/signin/kakao}">
                <button class="btn kakao"></button>
            </a>
        </div>
    </div>
</body>
</html>