<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width initial-scale=1.0">
    <meta property="og:image" content="https://memoryboost.kr/thumbnail.jpg"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title th:text="|SNS회원 정보입력|"></title>
    <!-- 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Noto+Sans&family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <!--
    한글 폰트
    font-family: 'Nanum Gothic Coding', monospace;
    font-family: 'Noto Sans KR', sans-serif;
    영문 폰트
    font-family: 'Noto Sans', sans-serif;

    보통은(한/영 둘다) Noto Sans로 하고
    정보표시는 Nanum Gothic Coding.
    -->
    <!-- 주소 API -->
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <!-- fontawesome CDN -->
    <script src="https://kit.fontawesome.com/88eb152a32.js" crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/member/signup-style.css" />
    <!-- 스크립트 -->
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script src="/js/reset.js"></script>
    <script src="/js/member/sns-signup.js"></script>
</head>
<body>
<header th:replace="header.html"></header>
<div class="content-container signup">
    <h1 class="signup-title">추가정보 입력</h1>
    <form th:id="signup-form" class="signup-form">
        <div class="div-name">
            <input th:value="${#authentication.principal.memberName}" type="text" id="memberName" class="memberName" name="memberName" placeholder="이름" disabled />
        </div>
        <div class="div-email">
            <input th:value="${#authentication.principal.memberEmail}" type="text" id="memberEmail" class="memberEmail" name="memberEmail" placeholder="이메일" disabled />
        </div>
        <input type="text" class="memberTel" th:name="memberTel" placeholder="전화번호"/>
        <div class="addr">
            <input type="text" id="zipcode" class="memberZipcode" th:name="memberZipCode" placeholder="우편번호" readonly>
            <input type="button" class="searchZipCode" onclick="searchZipCode()" value="우편번호 찾기"><br>
            <input type="text" id="address" class="memberAddress add" th:name="memberAddress" placeholder="주소" readonly><br>
        </div>
        <div class="div-detailaddr">
            <input type="text" id="detailAddress" class="memberDetailAddress add" th:name="memberDetailAddress" placeholder="상세주소">
            <span class="chksum detailaddr false"></span>
        </div>
        <input th:id="submit" th:type="submit" value="회원가입" disabled />
    </form>
</div>
<footer th:replace="footer.html"></footer>
</body>
</html>