.header {
    display: flex;
    position: fixed;
    width: 100%; height: 50px;
    padding: 10px;
    top: 0; left: 0;
    background-color: var(--primary);
}

.header a {
    text-decoration: none;
    color: var(--secondary);
}

.header a:visited {
    text-decoration: none;
    color: var(--secondary);
}

.header > a {
    flex-basis: 10%;
}

.header > a > .logo {
    width: 200px;
    margin-right: 35px;
}

.header > .menu {
    flex-basis: 80%;
}

.header > .menu > ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

.header > .menu > ul > li {
    line-height: 30px;
    /*font-family: 'Noto Sans KR', sans-serif;*/

    font-size: 20px;
    margin-right: 35px;
}

.header > .btns {
    flex-basis: 10%;
    display: flex;
    justify-content: flex-end;
}

.header > .btns > .btn {
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    outline: none;
    width: 80px;
    background-color: var(--light);
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    color: var(--dark);
}

.header > .btns > .btn:hover {
    background-color: var(--dark);
    color: var(--light);
    border: 2px solid rgba(255, 255, 255, 0.4);
}