div.content-container.main {
    /*padding: 10px 0;*/
}

/* 메인 슬라이드 */
div.slide {
    position: relative;
    width: 1300px; height: 500px;
    overflow: hidden;
}

div.slide > button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    outline: none;
    border: 0;
    background-color: var(--white);
    width: 20px; height: 100px;
    transform: translate(0, -50%);
    font-size: 18pt;
    z-index: 100;
    color: rgba(0, 0, 0, 0.5);
}
div.slide > button.left {
     left: 0;
     text-align: left;
     border-radius: 0 3px 3px 0;
}

div.slide > button.right {
    right: 0;
    text-align: right;
    border-radius: 3px 0 0 3px;
}

div.slide > div.slide-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 7%; left: 50%;
    transform: translate(-50%, 0);
    background-color: rgba(255, 255, 255, 0.5);
    width: 150px; height: 25px;
    border-radius: 5px;
}

div.slide > div.slide-page > div.page-btn {
    cursor: pointer;
    width: 13px; height: 13px;
    background-color: rgba(255, 255 ,255, 1.0);
    box-shadow: 0 0 3px -1 rgba(0, 0, 0, 0.8);
    border-radius: 50%;
}

div.slide > div.slide-page > div.page-btn.selected {
    background-color: var(--gray);
}

div.slide-wrapper {
    display: flex;
    width: 3900px; height: 500px;
}

div.slide-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1300px; height: 500px;
}

div.slide-content > .inner-content {
    width: 640px; height: 450px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

div.slide-content.first > div.inner-content:first-child {
    background-image: url("/img/slide1.png");
}

div.slide-content.first > div.inner-content:nth-child(2) {
    background-image: url("/img/slide2.png");
}

div.slide-content.second > div.inner-content:first-child {
    background-image: url("/img/slide3.png");
}

div.slide-content.second > div.inner-content:nth-child(2) {
    background-image: url("/img/slide4.png");
}

div.slide-content.third > div.inner-content:first-child {
    background-image: url("/img/slide5.png");
}

div.slide-content.third > div.inner-content:nth-child(2) {
    background-image: url("/img/slide6.png");
}

/* 중단 */
div.mid {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}


/* 게시판 */
div.community {
    display: flex;
    justify-content: space-between;
    width: 820px; height: 400px;
}

div.mid > div.community > div.tab{
    width: 400px;
    padding: 0 10px;
}

div.mid > div.community > div.tab > h4 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-top: 15px;
}

div.mid > div.community > div.tab > table {
    border-collapse: collapse;
    width: 100%;
}

div.mid > div.community > div.tab > table tr {
    height: 25px;
}

div.mid > div.community > div.tab > table.review tr {
    height: 32px;
}

div.mid > div.community > div.tab > table tr > td:first-child {
    width: 75%
    text-align: center;
}

div.mid > div.community > div.tab > table tr > td:nth-child(2) {
    width: 25%;
    text-align: right;
}

/* 상품 노출 한칸 */
div.best-seller {
    float: right;
    width: 400px; height: 400px;
    padding: 15px;
    margin-right: 10px;
}

div.best-seller > div.any-product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    /*background-color: #9797FF;*/
    width: 100%; height: 100%;
}

div.best-seller > div.any-product > h4 {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

div.best-seller > div.any-product > div.product-image {
    width: 100%; height: 360px;
}

/* 상품 노출 슬라이드 */
div.product-belt-slide {
    width: 1300px; height: 200px;
    margin-top: 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

div.belt-slide-wrapper {
    display: flex;
    width: 3900px; height: 200px;
}

div.belt-content {
    display: flex;
    width: 1300px; height: 200px;
}

div.belt-content.first {
    /*background-color: #FF9797;*/
}

div.belt-content.second {
    /*background-color: #9797FF;*/
}

div.belt-content.third {
    /*background-color: #97FF97;*/
}

div.belt-content > div.product {
    flex-basis: 50%;
    display: flex;
}

div.belt-content > div.product > div.product-image {
    width: 200px;
}

div.belt-content > div.product > div.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

div.belt-content > div.product > div.product-info > div {
    padding-left: 10px;
}

div.belt-content > div.product > div.product-info > div.product-name {

}
