* { margin: 0; padding: 0; box-sizing: border-box; }

:root {
    --english-font: 'Roboto', sans-serif;
}

:root {
    --light-blue: #3366ff;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #ee5f5b;
    --orange: #fd7e14;
    --yellow: #f89406;
    --green: #62c462;
    --teal: #20c997;
    --cyan: #5bc0de;
    --white: #fff;
    --gray: #7A8288;
    --gray-dark: #3A3F44;
    --primary: #3A3F44;
    --secondary: #7A8288;
    --success: #62c462;
    --info: #5bc0de;
    --warning: #f89406;
    --danger: #ee5f5b;
    --light: #e9ecef;
    --dark: #272B30;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html, body {
    height: 100%;
}

body {
    /*width: 1000px;*/
    margin: 0 auto;
    padding-top: 60px;
    background-color: var(--white);
}

div.utmost-container {
    position: relative;
    min-height: 100%;
}

div.inner-container {
    width: 1200px;
    margin: 0 auto;
}

.liftup {
  opacity: 0;
  visibility: hidden;
  transition-property: transform, opacity;
  transition-duration: 0.5s, 0.5s;
  transition-timing-function: ease-out, ease-out;
  transform: translate(0, 5%);
}
.liftup.is-open {
  opacity: 1;
  visibility: visible;
  transform: translate(0);
}