:root {
    --white: #ffffff;
    --gray: #7A8288;
    --light-gray: #e8e8e8;
    --dim-gray: #cccccc;
    --black: #000000;
    --info: #3366ff;
    --warning: #ff9900;
    --danger: #ee5f5b;
    --success: #62c462;
    --less: #909090;
    --blue: #007bff;
    --light-blue: #3366ff;
}

* {
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif, 'Noto Sans', sans-serif;
}

a, a:visited {
    text-decoration: none;
    color: var(--black);
}

/*
html, body {
    height: 100%;
}

body {
    margin: 0 auto;
    padding-top: 150px;
    background-color: var(--white);
}*/
html {
    min-width: 100vh;
}

body {
    padding-top: 110px;
    min-width: 100vh;
}

div.content-container {
    width: 1300px;
    margin: 0 auto;
}

/* 텍스트 */
.text {
    font-family: 'Nanum Gothic Coding', monospace;
}

.text.title {
    font-size: 26px;
}

.text.normal {
    font-size: 16px;
}

.text.sub {
    font-size: 12px;
}

.text.bold {
    font-weight: bold;
}

.text.warning {
    color: var(--warning);
}

.text.danger {
    color: var(--danger);
}

.text.enlighten {
    color: var(--blue);
}

.text.success {
    color: var(--success);
}

.text.less {
    color: var(--less);
}

.text.dim {
    font-size: 12px;
    color: var(--dim-gray);
}

/* 표현 요쇼 */
.char.title {
    font-size: 26px;
}

.char.normal {
    font-size: 16px;
}

.char.sub {
    font-size: 12px;
}

.char.bold {
    font-weight: bold;
}

.char.warning {
    color: var(--warning);
}

.char.danger {
    color: var(--danger);
}

.char.enlighten {
    color: var(--blue);
}

.char.success {
    color: var(--success);
}

.char.less {
    color: var(--less);
}

.char.dim {
    font-size: 12px;
    color: var(--dim-gray);
}

/* 버튼 */
button.btn {
    cursor: pointer;
    outline: none;
    background-color: var(--white);
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-family: 'Noto Sans KR', sans-serif, 'Noto Sans', sans-serif;
}

button.btn:hover {
    opacity: 0.5;
}

/*button.btn:active {
    transform: scale(0.98);
}*/

button.btn:focus {
    border: 1px solid rgba(0, 0, 0, 1.0);
}

button.btn:disabled {
    cursor: default;
    opacity: 0.7;
    background-color: var(--light-gray);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

button.btn.agree {
    border: 1px solid var(--blue);
    background-color: var(--blue);
    color: var(--white);
}

button.btn.warning {
    border: 1px solid var(--warning);
    background-color: var(--warning);
    color: var(--white);
}

button.btn.danger {
    border: 1px solid var(--danger);
    background-color: var(--danger);
    color: var(--white);
}

button.btn.ok {
    border: 1px solid var(--info);
    background-color: var(--info);
    color: var(--white);
}

button.btn.enlighten {
    border: 1px solid var(--light-blue);
    background-color: var(--light-blue);
    color: var(--white);
}

/* input text*/
input.normal {
    outline: none;
    background-color: var(--white);
    border: 0;
    border-radius: 3px;
    box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.8);
    font-family: 'Noto Sans KR', sans-serif, 'Noto Sans', sans-serif;
}

input.normal:focus {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 1.0);
}

/* 메뉴 */
li {
    list-style: none;
}

.nav {
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif, 'Noto Sans', sans-serif;
}

.nav:hover {
    opacity: 0.5;
}

.nav.first {
    font-size: 22px;
}

.nav.second {
    font-size: 18px;
}

.nav.third {
    font-size: 14px;
}

/* 이미지 */
.logo.small {
    width: 200px; height: 26px;
}

/* 정렬(가로)*/
.align-left.horizontal {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.align-mid.horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-right.horizontal {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* 정렬(세로)*/
.align-left.vertical {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.align-mid.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.align-right.vertical {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

/* 화면 전환 효과 */
.liftup {
  opacity: 0;
  visibility: hidden;
  transition-property: transform, opacity;
  transition-duration: 0.5s, 0.5s;
  transition-timing-function: ease-out, ease-out;
  transform: translate(0, 5%);
}
.liftup.lifted {
  opacity: 1;
  visibility: visible;
  transform: translate(0);
}
