div.frame {
    padding: 0 20px;
}

div.frame > h1 {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

th {
    background-color: var(--light-gray);
}

td {
    text-align: center;
    padding: 5px 10px;
}

button {
    cursor: pointer;
    outline: none;
    background: none;
    border: 0;
}

button:hover {
    text-decoration: underline;
}

td.order-info {
    text-align: left;
}

/* 페이징 *
/* 후기 게시판 페이징 */
#paging-form {
    width: 100%;
    padding-top: 10px;
}

div.paging {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

div.paging > button.btn {
    outline: none;
    background: none;
    border: 0;
    font-size: 16px;
    width: 30px; height: 30px;
}