<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Noto+Sans&family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <!--
    한글 폰트
    font-family: 'Nanum Gothic Coding', monospace;
    font-family: 'Noto Sans KR', sans-serif;
    영문 폰트
    font-family: 'Noto Sans', sans-serif;

    보통은(한/영 둘다) Noto Sans로 하고
    정보표시는 Nanum Gothic Coding.
    -->
    <!-- fontawesome CDN -->
    <script src="https://kit.fontawesome.com/88eb152a32.js" crossorigin="anonymous"></script>
    <!-- 스타일 -->
    <link rel="stylesheet" href="/css/footer-style.css" />
</head>
<body>
    <footer th:fragment="footer">
        <nav class="footer">
            <ul>
                <li class="nav third about"><a href="#">회사정보</a></li>
                <li class="nav third condition"><a href="#">이용약관</a></li>
                <li class="nav third privacy"><a href="#">개인정보처리방침</a></li>
                <li class="nav third faq"><a href="#">FAQ</a></li>
            </ul>
        </nav>
        <div class="info">
            <span class="text normal">상호 : (주)메모리부스트</span>
            <span class="text normal">대표 : 이건희, 조재현</span>
            <span class="text normal">고객센터 : 010-0000-0000</span>
            <span class="text normal">주소 : 서울시 용산구 청파로</span>
            <span class="text normal">Copyrightⓒ Memoryboost. All Rights Reserved.</span>
        </div>
        <div class="contact">
            <div class="contact-inner">
                <a href="#"><img src="/img/contact/contact_phone.png" /></a>
                <a href="mailto:ahdtpf13@naver.com,pursue503@naver.com"><img src="/img/contact/contact_email.png" /></a>
            </div>
            <div class="contact-inner">
                <a href="#"><img src="/img/contact/contact_facebook.png" /></a>
                <a href="#"><img src="/img/contact/contact_instagram.png" /></a>
            </div>
        </div>
    </footer>
</body>
</html>