<!DOCTYPE html>
<html lang="ko">
<link rel="stylesheet" href="/css/footer-style.css" />
<body>
    <footer class="footer liftup">
        <div class="footer-container">
            <div class="upper">
                <div class="footer-menu">
                    <a href="#"><button class="about">회사정보</button></a>
                    <a href="#"><button class="condition">이용약관</button></a>
                    <a href="#"><button class="private-data">개인정보처리방침</button></a>
                    <a href="#"><button class="qna">QnA</button></a>
                    <a href="#"><button class="toadmin">1:1문의</button></a>
                </div>
            </div>
            <div class="lower">
                <div class="information">
                    <span class="text-content-small">상호 : (주)메모리부스트</span>
                    <span class="text-content-small">대표 : 이건희, 조재현</span>
                    <span class="text-content-small">고객센터 : 010-0000-0000</span>
                    <span class="text-content-small">주소 : 서울시 용산구 청파로</span>
                    <span class="text-content-small">Copyrightⓒ Memoryboost. All Rights Reserved.</span>
                </div>
                <div class="contact">
                    <div class="contact-inner">
                        <a href="#"><img src="/img/contact/contact_phone.png" /></a>
                        <a href="mailto:ahdtpf13@naver.com,pursue503@naver.com"><img src="/img/contact/contact_email.png" /></a>
                    </div>
                    <div class="contact-inner">
                        <a href="#"><img src="/img/contact/contact_facebook.png" /></a>
                        <a href="#"><img src="/img/contact/contact_instagram.png" /></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>