<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Noto+Sans&family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <!--
    한글 폰트
    font-family: 'Nanum Gothic Coding', monospace;
    font-family: 'Noto Sans KR', sans-serif;
    영문 폰트
    font-family: 'Noto Sans', sans-serif;

    보통은(한/영 둘다) Noto Sans로 하고
    정보표시는 Nanum Gothic Coding.
    -->
    <!-- fontawesome CDN -->
    <script src="https://kit.fontawesome.com/88eb152a32.js" crossorigin="anonymous"></script>
    <!-- 스타일 -->
    <link rel="stylesheet" href="/css/header-style.css" />
    <!-- 스크립트 -->
    <script src="/js/header.js"></script>
</head>
<body>
    <header th:fragment="header">
        <div class="container funcs">
            <img class="logo small" src="/img/logo_main.png" onclick="location.href='/'" />
            <div class="search">
                <form id="form-keyword" action="/search" method="GET">
                    <input id="keyword" name="keyword" type="text" placeholder="검색어를 입력해주세요."/>
                    <div class="search buttons">
                        <button class="btn reset" type="reset"><i class="fas fa-times"></i></button>
                        <button class="btn search" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </form>
                <div class="keyword-list">
                </div>
            </div>
        </div>
        <!--<div class="container buttons">
            <button class="btn signup" onclick="location.href='/members/signup'">회원가입</button>
            <button class="btn signin enlighten" onclick="location.href='/members/signin'">로그인</button>
        </div>-->
        <!-- 로그인에 따라 보여지는 버튼 다름 -->
        <div class="container buttons" sec:authorize="isAuthenticated()">
            <div class="greeting">
                <span class="username" sec:authentication="principal.memberName" onclick="location.href='/members/mypage'"></span><span>님 환영합니다</span>
            </div>
            <button class="btn signout enlighten" onclick="location.href='/members/logout'">로그아웃</button>
        </div>
        <div class="container buttons" sec:authorize="isAnonymous()">
            <button class="btn signup" onclick="location.href='/members/signup'">회원가입</button>
            <button class="btn signin enlighten" onclick="location.href='/members/signin'">로그인</button>
        </div>
        <nav class="header">
            <ul>
                <li class="nav second"><a href="/estimate"><i class="fas fa-cogs"></i>컴퓨터견적</a></li>
                <li class="nav second"><a href="#"><i class="far fa-comment-alt"></i>이용후기</a></li>
                <li class="nav second"><a href="#"><i class="far fa-question-circle"></i>1:1문의</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>