<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Noto+Sans&family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <!--
    한글 폰트
    font-family: 'Nanum Gothic Coding', monospace;
    font-family: 'Noto Sans KR', sans-serif;
    영문 폰트
    font-family: 'Noto Sans', sans-serif;

    보통은(한/영 둘다) Noto Sans로 하고
    정보표시는 Nanum Gothic Coding.
    -->
    <!-- fontawesome CDN -->
    <script src="https://kit.fontawesome.com/88eb152a32.js" crossorigin="anonymous"></script>
    <!-- 스타일 -->
    <link rel="stylesheet" href="/css/header-style.css" />
    <!-- 스크립트 -->
    <script src="/js/header.js"></script>
</head>
<body>
    <header th:fragment="header">
        <div th:classappend="main-logo">
            <img th:src="@{/img/logo-main.gif}" th:onclick="|location.href = '/';|"/>
        </div>
        <div th:classappend="header-upper">
            <div th:classappend="|search-div|">
                <form th:id="header-search-form" th:action="|/search|" th:method="GET">
                    <input th:id="search-input" th:type="text" th:name="keyword" th:placeholder="|검색어를 입력하세요.|" />
                    <button th:id="search-reset" th:type="reset" th:text="|x|"></button>
                    <button th:id="search-submit" th:text="검색"></button>
                </form>
                <div th:classappend="auto-keyword"></div>
            </div>
        </div>
        <div th:classappend="recommend-keyword">
            <span th:text="추천검색어"></span>
            <a th:classappend="|text normal less|" th:href="|/search?keyword=amd|">AMD</a>
            <a th:classappend="|text normal less|" th:href="|/search?keyword=인텔|">인텔</a>
            <a th:classappend="|text normal less|" th:href="|/search?keyword=rtx|">RTX</a>
            <a th:classappend="|text normal less|" th:href="|/search?keyword=레오폴드|">레오폴드</a>
        </div>
        <div sec:authorize="isAnonymous()" th:classappend="account">
            <button th:classappend="signup" th:onclick="location.href='/members/signup'" th:text="회원가입"></button>
            <button th:classappend="signin" th:onclick="location.href='/members/signin'" th:text="로그인"></button>
        </div>
        <div sec:authorize="isAuthenticated()" th:classappend="account">
            <a th:classappend="user-name" th:href="@{/members/mypage}" th:text="|${#authentication.principal.memberName}|"></a><span th:classappend="greeting" th:text="|님 환영합니다|"></span>
            <button th:classappend="signout" th:onclick="location.href='/members/logout'" th:text="로그아웃"></button>
        </div>

        <div th:classappend="menu">
            <a th:classappend="menu-estimate" th:href="@{/estimate}" th:text="컴퓨터견적"></a>
            <a th:classappend="menu-product" th:href="@{/estimate}" th:text="전체제품"></a>
            <a th:classappend="menu-notice" th:href="@{/notice?category=1}" th:text="공지사항"></a>
            <a th:classappend="menu-review" th:href="@{/post?category=1}" th:text="이용후기"></a>
            <a th:classappend="menu-update" th:href="@{/notice?category=2}" th:text="새소식"></a>
            <a th:classappend="menu-event" th:href="@{/notice?category=3}" th:text="이벤트"></a>
        </div>
    </header>
</body>
</html>