<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
    <!-- 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Noto+Sans&family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <!--
    한글 폰트
    font-family: 'Nanum Gothic Coding', monospace;
    font-family: 'Noto Sans KR', sans-serif;
    영문 폰트
    font-family: 'Noto Sans', sans-serif;

    보통은(한/영 둘다) Noto Sans로 하고
    정보표시는 Nanum Gothic Coding.
    -->
    <!-- fontawesome CDN -->
    <script src="https://kit.fontawesome.com/88eb152a32.js" crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/slide-style.css" />
    <link rel="stylesheet" href="/css/main-style.css" />
    <!-- 스크립트 -->
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script src="/js/reset.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/slide.js"></script>
</head>
<body>
    <header th:replace="header.html"></header>
    <div class="content-container">
        <form action="#">
            <input type="text" name="test1" value="val1" />
            <form>
                <input type="text" name="test2" value="val2" />
                <button>보내기in</button>
            </form>
            <button>보내기out</button>
        </form>
        <form id="mainform" method="get">
            <input type="hidden" name="cr1" value="vl1" />
            <input type="hidden" name="cr2" value="vl2" />
            <input type="hidden" name="cr3" value="vl3" />
            <input type="hidden" name="cr4" value="vl4" />
        </form>
        <button id="testbtn" th:text="팝업"></button>
    </div>
    <footer th:replace="footer.html"></footer>
</body>
</html>