<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|결제진행중..|"></title>
    <!-- 스크립트 -->
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
</head>
<body>
    <h1 th:text="|결제 진행중입니다..|"></h1>
    <script>
        var form = opener.document.getElementById("order-form");
        var tid = "[[${tid}]]";
        var html = "<input type='hidden' name='tid' value='"+tid+"' />";
        $(opener.document).find("#order-form").append(html);
        $(opener.document).find("#order-form").submit();

        setTimeout(execute, 1000);
        function execute() {
            window.close();
        };
        opener.popup = this;
    </script>
</body>
</html>