html {
    scroll-behavior: smooth;
}

header {
    z-index: 100;
    position: absolute;
    top: 0; left: 0;
    display: flex;
    width: 100%; height: 110px;
    background-color: var(--white);
    box-shadow: 0 0 2px -1px rgba(0, 0, 0, 0.8);
}

div.content-container.product-detail {
    margin-top: 30px; margin-bottom: 30px;
}

/* 맨 위 타이틀 */
div.product-detail > div.title {
    display: flex;
    flex-direction: column;
}

/* 이미지, 구매 */
div.product-detail > div.product {
    display: flex;
    height: 600px;
}

div.product-detail > div.product > div.product-image {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.product-detail > div.product > div.product-image > img {
    width: 500px; height: auto;
}

/* 우측 */
div.product-detail > div.product > div.right {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    margin-top: 50px;
}

/* 제품 간략 정보 */
div.product-detail > div.product > div.right > div.summary {
    width: 100%;
}

div.product-detail > div.product > div.right > div.summary > div {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

div.product-detail > div.product > div.right > div.summary > div > h3 {
    margin-right: 20px;
    width: 100px;
}

div.product-detail > div.product > div.right > div.summary > div > div.won {
    transform: translate(5%, 15%);
}

div.product-detail > div.product > div.right > div.summary > div > div.product-grade {
    width: 100px; height: 20px;
    background-image: url("/img/grade.png");
    overflow: hidden;
    margin-right: 5px;
}

div.product-detail > div.product > div.right > div.summary > div > div.product-grade > div.star {
    width: 100px; height: 20px;
    background-image: url("/img/grade_star.png");
    overflow: hidden;
}

div.product-detail > div.product > div.right > div.summary > div > div.count {
    margin-left: 1px;
}

/* 수량 */
div.product-detail > div.product > div.right > form > div.interaction {
    display: flex;
    margin-top: 10px;
    padding: 10px 20px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-gray);
}

div.product-detail > div.product > div.right > form > div.interaction > span.product-amount {
    display: flex;
    background-color: var(--white);
    width: 110px; height: 30px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

div.product-detail > div.product > div.right > form > div.interaction > span.product-amount > .btn.amount {
    width: 30px;
    border: 0;
    font-family: "Font Awesome 5 Free";
}

div.product-detail > div.product > div.right > form > div.interaction > span.product-amount > input.amount {
    text-align: center;
    outline: none;
    border: 0;
    background: none;
    width: 50px;
}

/* 총 금액 */
div.product-detail > div.product > div.right > form > div.total-price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10px;
    padding-top: 30px;
    margin-top: 10px;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

div.product-detail > div.product > div.right > form > div.total-price > div:first-child {
    margin-right: 10px;
}

/* 장바구니, 구매 */
div.product-detail > div.product > div.right > form > div.buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
}

div.product-detail > div.product > div.right > form > div.buttons > button {
    cursor: pointer;
    outline: none;
    background: none;
    border: 0;
    width: 275px; height: 100px;
}

div.product-detail > div.product > div.right > form > div.buttons > button.cart {
    font-size: 20pt;
    color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 0;
}

div.product-detail > div.product > div.right > form > div.buttons > button.cart:hover {
    color: var(--black);
}

div.product-detail > div.product > div.right > form > div.buttons > button.purchase {
    color: var(--white);
    font-size: 20pt;
    background: var(--light-blue);
    border: 1px solid var(--light-blue);
    border-left: 0;
}

/* 컨트롤 탭 */
div.product-detail > div.control-tab {
    width: 100%;
    background-color: var(--white);
    z-index: 100;
}

div.product-detail > div.control-tab > div.control {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

div.product-detail > div.control-tab > div.control > div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-basis: 33.3%;
    border: 0;
    height: 100%;
}

/* 컨트롤 탭 인디케이터 */
div.product-detail > div.control-tab > div.indicator {
    position: relative;
    width: 100%; height: 5px;
    background-color: var(--light-gray);
}

div.product-detail > div.control-tab > div.indicator > div.matter {
    position: absolute;
    top: 0; left: 0;
    width: 33.3%; height: 5px;
    background-color: var(--light-blue);
    transition-duration: 0.3s;
}

div.product-detail > div.control-tab > div.indicator.detail > div.matter {
    left: 0;
}

div.product-detail > div.control-tab > div.indicator.review > div.matter {
    left: 33.3%;
}

div.product-detail > div.control-tab > div.indicator.shipment > div.matter {
    left: 66.6%;
}

/* 컨트롤 탭 고정됨 */
div.product-detail > div.control-tab.onfix {
    position: fixed;
    top: 0px;
    width: 1300px;
}

/* 상세정보 이미지 */
div.product-detail > div.description-image {
    /*background-color: var(--light-gray);*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

/* 리뷰 */
div.product-detail > div.product-review {
    /*background-color: #ff9797;*/
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

div.product-detail > div.product-review > div.title {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

div.product-detail > div.product-review > div.title > span:nth-child(2) {
    margin-left: 5px;
}

/* 평점 상세 */
div.product-detail > div.product-review > div.grade {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-around;
}

/* 별 */
div.product-detail > div.product-review > div.grade > div.star {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

div.product-detail > div.product-review > div.grade > div.star > div.back {
    width: 150px; height: 30px;
    background-image: url("/img/grade_big.png");
    background-size: 150px 30px;
    background-repeat: no-repeat;
    overflow: hidden;
    margin: 30px 0;
}

div.product-detail > div.product-review > div.grade > div.star > div.back > div.inside {
    width: 150px; height: 30px;
    background-image: url("/img/grade_star_big.png");
    background-size: 150px 30px;
    background-repeat: no-repeat;
    overflow: hidden;
}

div.product-detail > div.product-review > div.grade > div.star > div.score {
    font-size: 35pt;
}

/* 그래프 */
div.product-detail > div.product-review > div.grade > div.graph {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

div.product-detail > div.product-review > div.grade > div.graph > h3 {
    margin-bottom: 30px;
}

div.product-detail > div.product-review > div.grade > div.graph > div {
    display: flex;
}

div.product-detail > div.product-review > div.grade > div.graph > div > div.ratio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

div.product-detail > div.product-review > div.grade > div.graph > div > div.ratio > div.count {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 20px; height: 120px;
    background-image: url("/img/graph.png");
    background-size: 20px 120px;
    background-repeat: no-repeat;
}

div.product-detail > div.product-review > div.grade > div.graph > div > div.ratio > div.count > div.bar {
    width: 20px; height: 120px;
    background-image: url("/img/graph_bar.png");
    background-size: 20px 120px;
    background-repeat: no-repeat;
    overflow: hidden;
}

div.product-detail > div.product-review > div.grade > div.graph > div > div.ratio > div.count > div.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-25%, 0);
    width: 40px; height: 20px;
    color: var(--white);
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.7);
}

/* 후기 게시판 */
div.product-detail > div.product-review > div.board {
    width: 100%;
}

div.product-detail > div.product-review > div.board > form > div.order > input[type=radio] {
    cursor: pointer;
    margin-right: 2px;
}

div.product-detail > div.product-review > div.board > form > div.order > label {
    cursor: pointer;
    margin-right: 5px;
}

div.product-detail > div.product-review > div.board > form > div#fragment > table {
    border: 0;
    border-collapse: collapse;
    width: 100%;
}

div.product-detail > div.product-review > div.board > form > div#fragment > table tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

div.product-detail > div.product-review > div.board > form > div#fragment > table tr:first-child {
    background-color: var(--light-gray);
    border: 0;
}

div.product-detail > div.product-review > div.board > form > div#fragment > table td {
    text-align: center;
    padding: 5px;
}

div.product-detail > div.product-review > div.board > form > div#fragment > table td.review-title {
    text-align: left;
    padding: 10px 5px;
}

div.product-detail > div.product-review > div.board > form > div#fragment > table td.review-title:hover {
    cursor: pointer;
    text-decoration: underline;
}

div.product-detail > div.product-review > div.board > form > div#fragment > table td.review-content {
    text-align: left;
    padding: 25px 10px;
}

div.product-detail > div.product-review > div.board > form > div#fragment > table th {
    height: 50px;
}

div.product-detail > div.product-review > div.board > form > div#fragment > table th:first-child {
    width: 10%;
}

div.product-detail > div.product-review > div.board > form > div#fragment > table th:nth-child(2) {
    width: 10%;
}

div.product-detail > div.product-review > div.board > form > div#fragment > table th:nth-child(3) {
    width: 60%;
}

div.product-detail > div.product-review > div.board > form > div#fragment > table th:nth-child(4) {
    width: 10%;
}

div.product-detail > div.product-review > div.board > form > div#fragment > table th:nth-child(5) {
    width: 20%;
}

div.product-detail > div.product-review > div.board > form > div#fragment > table tr.content-row {
    display: none;
    background-color: rgba(220, 220, 220, 0.1);
}

div.product-detail > div.product-review > div.board > form > div#fragment > table tr.content-row.pop {
    display: table-row;
}

/* 후기 게시판 페이징 */
div.product-detail > div.product-review > div.board > form > div#fragment > div.paging {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

div.product-detail > div.product-review > div.board > form > div#fragment > div.paging > button.btn {
    outline: none;
    background: none;
    border: 0;
    font-size: 16px;
    width: 30px; height: 30px;
}

/* 배송/교환/환불 규정 */
div.product-detail > div.shipment-guide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.product-detail > div.shipment-guide > h1 {
    margin: 20px 0;
}

div.product-detail > div.shipment-guide > h2 {
    width: 70%;
    text-align: left;
}

div.product-detail > div.shipment-guide table {
    border-collapse: collapse;
    width: 70%; height: 350px;
    margin-bottom: 20px;
}

div.product-detail > div.shipment-guide td, div.product-detail > div.shipment-guide th {
    border: 1px solid rgba(0, 0, 0, 0.3);
}

div.product-detail > div.shipment-guide th {
    background-color: rgba(200, 200, 200, 0.3);
}

div.product-detail > div.shipment-guide td {
    padding: 20px;
}