div.content-container.community {
    padding: 10px 0;
    display: flex;
}

/* 네비게이션 */
nav.community {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    padding-top: 10px;
}

nav.community > button {
    cursor: pointer;
    outline: none;
    border: 0;
    background: none;
    width: 100%;
    padding: 5px;
    font-size: 20px;
}

nav.community > button.selected {
    color: var(--warning);
}

nav.community > button:hover {
    color: var(--gray);
}

div.content-container.community > h1 {
    flex-basis: 80%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

/* 게시판 부분 */
div.content {
    width: 100%;
    padding: 0 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

th {
    background-color: rgba(0, 0, 0, 0.3);
}

tr {
    width: 100%; height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

td {
    text-align: center;
    padding: 5px 10px;
}

td.num {
    width: 70px;
    max-width: 70px;
}

td.title {
    cursor: pointer;
    width: 650px;
    max-width: 650px;
    text-align: left;
}

td.title:hover {
    text-decoration: underline;
}

td.writer, td.date {
    width: 140px;
    max-width: 140px;
}

td.view {
    width: 54px;
    max-width: 54px;
}

/* 글쓰기 */
div.control {
    padding: 2px;
}

div.control > button {
    cursor: pointer;
    width: 50px; height: 25px;
}

div.control > button.write-noti {
    width: 70px;
}

/* 검색 */
div.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.search > * {
    outline: none;
    margin: 0 1px;
}

div.search > button {
    width: 50px;
}

/* 페이징 */
form > div.paging {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

form > div.paging > button.btn {
    outline: none;
    background: none;
    border: 0;
    font-size: 20px;
    width: 40px; height: 40px;
}

/************** 디테일 부분 *****************/
div.content.detail > table {
    border-collapse: collapse;
}

div.content.detail th.detail-title {
    text-align: left;
    padding-left: 15px;
}

div.content.detail td.detail-writer {
    text-align: left;
}

div.content.detail td.detail-date {
    text-align: right;
}

div.content.detail tr.jump {
    height: 30px;
}

div.content.detail tr.jump > th {
    width: 80px;
    text-align: center;
    padding: 0;
    font-weight: normal;
}

div.content.detail tr.jump > td {
    text-align: left;
    font-size: 14px;
}

/* 버튼 */
div.content.detail > div.control {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

div.content.detail > div.control > button {
    margin: 5px 2px;
}

/* 이전 다음글 */
div.content.detail > table.jump-table {
    border-collapse: collapse;
    margin-top: 0;
}

div.content.detail > table.jump-table * {
    border: 0;
    background: none;
}

div.content.detail > table.jump-table th > button {
    cursor: pointer;
    outline: none;
    background: none;
    border: 0;
}

div.content.detail > table.jump-table th > button.no-result {
    cursor: default;
}

div.content.detail > table.jump-table th > button:hover {
    text-decoration: underline;
}

div.content.detail > table.jump-table th > button.no-result:hover {
    text-decoration: none;
}

div.content.detail > table.jump-table td {
    cursor: pointer;
    font-size: 13px;
}

div.content.detail > table.jump-table td.no-result {
    cursor: default;
    font-size: 13px;
    color: var(--gray);
}

div.content.detail > table.jump-table td:hover {
    text-decoration: underline;
}

div.content.detail > table.jump-table td.no-result:hover {
    text-decoration: none;
}

/* 댓글 */
div.content.detail > div.reply {
    margin-top: 10px;
}

div.content.detail > div.reply > h5 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    width: 100%;
}

div.reply > div.insert-reply > form, div.reply > div.insert-reply > div.need-login {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 5px; margin: 5px 0;
    background-color: rgba(100, 100, 100, 0.1);
    border-radius: 3px;
}

div.reply > div.insert-reply > form > span.reply-user {
    margin: 0 5px;
}

div.reply > div.insert-reply > form > input.replyContent, div.insert-reply > div.need-login > input[type=text] {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    background-color: var(--white);
    width: 700px;
    padding: 2px 5px; margin: 0 5px;
}

div.reply > table.list-table {
    border-collapse: collapse;
    width: 100%;
    margin: 0;
}

div.reply > table.list-table tr.list-tr {
    height: 30px;
    min-height: 30px;
}

div.reply > table.list-table tr.list-tr > td.list-user {
    width: 100px;
}

div.reply > table.list-table tr.list-tr > td.list-content {
    text-align: left;
}

div.reply > table.list-table tr.list-tr > td.list-date {
    width: 130px;
}
